#main {
    width: 1440px;
    height: 900px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.submain {
    width: 50%;
    height: 100%;
    float: left;
    display: flex;
    justify-content:center;
}

#form {
    width: 350px;
    height: 450px;
    margin-top: 232px
}

#lable {
    color: #4A5568;;
}

#lablelogin {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 15px;
}

#form input {
    width: 100%;
    height: 40px;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-indent: 5px;
}

#button-rmb>input {
    width: 15px;
    height: 15px;
}

#button-rmb>label {
    margin-top: 6px;
    text-indent: 5px;
}

#forgot-pass {
    float: right;
    margin-top: 8px;
    color: #2C5282;
}

#button-lg>input {
    height: 60px;
    background-color: #04C35C;
    color: #ffffff;
    border-radius: 5px;
}

#button-gg>input {
    height: 60px;
    background-color: #2D3748;
    color: #ffffff;
    border-radius: 5px;
}

#rfooter {
    margin-top: 170px;
}
footer a {
    color: #f8f9fa!important
}
.bgc{
    background-image: url(image/Clothes+and+shoes-74_banner.jpg);
    /*background-image: url("https://envato-shoebox-0.imgix.net/a553/ba21-ce80-45ee-82d4-120907cdb414/Clothes+and+shoes-74_banner.jpg?auto=compress%2Cformat&fit=max&mark=https%3A%2F%2Felements-assets.envato.com%2Fstatic%2Fwatermark2.png&markalign=center%2Cmiddle&markalpha=18&w=1600&s=a9cc1545e602fe3d3e6c9faed39f0a84");*/
}
.show_txt{
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}
a .active{
    color: white;
}
